In [1]:
import pandas as pd
import numpy as np

In [2]:
bank=pd.read_csv('c:PL_XSELL.csv')

In [3]:
bank.head()

,CUST_ID,TARGET,AGE,GENDER,BALANCE,OCCUPATION,AGE_BKT,SCR,HOLDING_PERIOD,ACC_TYPE,...,NO_OF_IW_CHQ_BNC_TXNS,NO_OF_OW_CHQ_BNC_TXNS,AVG_AMT_PER_ATM_TXN,AVG_AMT_PER_CSH_WDL_TXN,AVG_AMT_PER_CHQ_TXN,AVG_AMT_PER_NET_TXN,AVG_AMT_PER_MOB_TXN,FLG_HAS_NOMINEE,FLG_HAS_OLD_LOAN,random
0,C7927,0,27,M,3383.75,SELF-EMP,26-30,776,30,SA,...,0,0,13100.0,0.0,0.0,486778.50,0.0,1,1,0.000011
1,C6877,0,47,M,287489.04,SAL,46-50,324,28,SA,...,0,0,6600.0,0.0,0.0,799813.00,0.0,1,0,0.000111
2,C19922,0,40,M,18216.88,SELF-EMP,36-40,603,2,SA,...,0,1,11200.0,561120.0,24660.0,997570.00,0.0,1,1,0.000120
3,C8183,0,53,M,71720.48,SAL,>50,196,13,CA,...,0,0,13050.0,168397.5,15195.0,247168.67,71388.0,1,0,0.000137
4,C12123,0,36,M,1671622.89,PROF,36-40,167,24,SA,...,0,0,0.0,808480.0,0.0,0.00,0.0,1,0,0.000174

In [4]:
bank.tail()

,CUST_ID,TARGET,AGE,GENDER,BALANCE,OCCUPATION,AGE_BKT,SCR,HOLDING_PERIOD,ACC_TYPE,...,NO_OF_IW_CHQ_BNC_TXNS,NO_OF_OW_CHQ_BNC_TXNS,AVG_AMT_PER_ATM_TXN,AVG_AMT_PER_CSH_WDL_TXN,AVG_AMT_PER_CHQ_TXN,AVG_AMT_PER_NET_TXN,AVG_AMT_PER_MOB_TXN,FLG_HAS_NOMINEE,FLG_HAS_OLD_LOAN,random
19995,C4520,0,41,F,181029.01,SENP,41-45,598,15,SA,...,0,0,0.0,277050.0,29730.0,0.0,0.0,1,1,0.999815
19996,C10147,0,37,F,46624.98,SELF-EMP,36-40,299,11,SA,...,0,0,8600.0,176435.0,6075.0,300924.0,46829.0,1,0,0.999869
19997,C2392,0,30,M,142433.53,PROF,26-30,722,11,SA,...,0,0,16700.0,10467.5,12442.0,0.0,132010.0,1,0,0.999882
19998,C14659,0,46,M,394654.75,SAL,46-50,234,4,SA,...,0,0,7700.0,195790.0,10887.5,0.0,0.0,1,0,0.999908
19999,C12911,1,41,M,7152.60,SELF-EMP,41-45,561,12,SA,...,0,0,15100.0,276520.0,15377.5,0.0,0.0,1,0,0.999947

In [6]:
bank.dropna()

20000

In [14]:
df_numeric=bank.drop(columns={'CUST_ID','AGE','GENDER','OCCUPATION','AGE_BKT','ACC_TYPE','ACC_OP_DATE'})

In [15]:
df_numeric[~df_numeric.applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [TARGET, BALANCE, SCR, HOLDING_PERIOD, LEN_OF_RLTN_IN_MNTH, NO_OF_L_CR_TXNS, NO_OF_L_DR_TXNS, TOT_NO_OF_L_TXNS, NO_OF_BR_CSH_WDL_DR_TXNS, NO_OF_ATM_DR_TXNS, NO_OF_NET_DR_TXNS, NO_OF_MOB_DR_TXNS, NO_OF_CHQ_DR_TXNS, FLG_HAS_CC, AMT_ATM_DR, AMT_BR_CSH_WDL_DR, AMT_CHQ_DR, AMT_NET_DR, AMT_MOB_DR, AMT_L_DR, FLG_HAS_ANY_CHGS, AMT_OTH_BK_ATM_USG_CHGS, AMT_MIN_BAL_NMC_CHGS, NO_OF_IW_CHQ_BNC_TXNS, NO_OF_OW_CHQ_BNC_TXNS, AVG_AMT_PER_ATM_TXN, AVG_AMT_PER_CSH_WDL_TXN, AVG_AMT_PER_CHQ_TXN, AVG_AMT_PER_NET_TXN, AVG_AMT_PER_MOB_TXN, FLG_HAS_NOMINEE, FLG_HAS_OLD_LOAN, random]
Index: []

[0 rows x 33 columns]

In [19]:
bank.describe()

,TARGET,AGE,BALANCE,SCR,HOLDING_PERIOD,LEN_OF_RLTN_IN_MNTH,NO_OF_L_CR_TXNS,NO_OF_L_DR_TXNS,TOT_NO_OF_L_TXNS,NO_OF_BR_CSH_WDL_DR_TXNS,...,NO_OF_IW_CHQ_BNC_TXNS,NO_OF_OW_CHQ_BNC_TXNS,AVG_AMT_PER_ATM_TXN,AVG_AMT_PER_CSH_WDL_TXN,AVG_AMT_PER_CHQ_TXN,AVG_AMT_PER_NET_TXN,AVG_AMT_PER_MOB_TXN,FLG_HAS_NOMINEE,FLG_HAS_OLD_LOAN,random
count,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.00000,20000.000000,...,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,0.125600,38.418150,5.113622e+05,440.150300,14.955650,125.239300,12.348050,6.63370,18.97540,1.883000,...,0.042750,0.04440,7408.839731,242236.478811,25092.478384,179059.029254,20303.920406,0.901150,0.492950,0.501933
std,0.331406,9.577985,7.235930e+05,249.887582,8.642634,54.953936,12.151921,7.67583,17.75929,2.263596,...,0.203038,0.20623,7210.168619,269837.890598,49387.197536,281706.855583,46472.889982,0.298468,0.499963,0.290762
min,0.000000,21.000000,0.000000e+00,100.000000,1.000000,29.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000011
25%,0.000000,30.000000,6.475403e+04,227.000000,7.000000,79.000000,6.000000,2.00000,9.00000,1.000000,...,0.000000,0.00000,0.000000,1265.450000,0.000000,0.000000,0.000000,1.000000,0.000000,0.248187
50%,0.000000,38.000000,2.316758e+05,364.000000,15.000000,125.000000,10.000000,5.00000,14.00000,1.000000,...,0.000000,0.00000,6000.000000,147095.000000,8645.000000,0.000000,0.000000,1.000000,0.000000,0.506121
75%,0.000000,46.000000,6.538768e+05,644.000000,22.000000,172.000000,14.000000,7.00000,21.00000,2.000000,...,0.000000,0.00000,13500.000000,385000.000000,28605.000000,257699.000000,0.000000,1.000000,1.000000,0.753571
max,1.000000,55.000000,8.360431e+06,999.000000,31.000000,221.000000,75.000000,74.00000,149.00000,15.000000,...,2.000000,2.00000,25000.000000,999640.000000,537842.220000,999854.000000,199667.000000,1.000000,1.000000,0.999947

In [20]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 40 columns):
CUST_ID                     20000 non-null object
TARGET                      20000 non-null int64
AGE                         20000 non-null int64
GENDER                      20000 non-null object
BALANCE                     20000 non-null float64
OCCUPATION                  20000 non-null object
AGE_BKT                     20000 non-null object
SCR                         20000 non-null int64
HOLDING_PERIOD              20000 non-null int64
ACC_TYPE                    20000 non-null object
ACC_OP_DATE                 20000 non-null object
LEN_OF_RLTN_IN_MNTH         20000 non-null int64
NO_OF_L_CR_TXNS             20000 non-null int64
NO_OF_L_DR_TXNS             20000 non-null int64
TOT_NO_OF_L_TXNS            20000 non-null int64
NO_OF_BR_CSH_WDL_DR_TXNS    20000 non-null int64
NO_OF_ATM_DR_TXNS           20000 non-null int64
NO_OF_NET_DR_TXNS           20000 non-null int64
NO_OF_MOB_DR_TXNS           20000 non-null int64
NO_OF_CHQ_DR_TXNS           20000 non-null int64
FLG_HAS_CC                  20000 non-null int64
AMT_ATM_DR                  20000 non-null int64
AMT_BR_CSH_WDL_DR           20000 non-null int64
AMT_CHQ_DR                  20000 non-null int64
AMT_NET_DR                  20000 non-null float64
AMT_MOB_DR                  20000 non-null int64
AMT_L_DR                    20000 non-null float64
FLG_HAS_ANY_CHGS            20000 non-null int64
AMT_OTH_BK_ATM_USG_CHGS     20000 non-null int64
AMT_MIN_BAL_NMC_CHGS        20000 non-null int64
NO_OF_IW_CHQ_BNC_TXNS       20000 non-null int64
NO_OF_OW_CHQ_BNC_TXNS       20000 non-null int64
AVG_AMT_PER_ATM_TXN         20000 non-null float64
AVG_AMT_PER_CSH_WDL_TXN     20000 non-null float64
AVG_AMT_PER_CHQ_TXN         20000 non-null float64
AVG_AMT_PER_NET_TXN         20000 non-null float64
AVG_AMT_PER_MOB_TXN         20000 non-null float64
FLG_HAS_NOMINEE             20000 non-null int64
FLG_HAS_OLD_LOAN            20000 non-null int64
random                      20000 non-null float64
dtypes: float64(9), int64(25), object(6)
memory usage: 6.1+ MB

In [23]:
bank1=bank.drop(columns={'CUST_ID','random','ACC_OP_DATE'})

In [24]:
bank1.head()

,TARGET,AGE,GENDER,BALANCE,OCCUPATION,AGE_BKT,SCR,HOLDING_PERIOD,ACC_TYPE,LEN_OF_RLTN_IN_MNTH,...,AMT_MIN_BAL_NMC_CHGS,NO_OF_IW_CHQ_BNC_TXNS,NO_OF_OW_CHQ_BNC_TXNS,AVG_AMT_PER_ATM_TXN,AVG_AMT_PER_CSH_WDL_TXN,AVG_AMT_PER_CHQ_TXN,AVG_AMT_PER_NET_TXN,AVG_AMT_PER_MOB_TXN,FLG_HAS_NOMINEE,FLG_HAS_OLD_LOAN
0,0,27,M,3383.75,SELF-EMP,26-30,776,30,SA,146,...,0,0,0,13100.0,0.0,0.0,486778.50,0.0,1,1
1,0,47,M,287489.04,SAL,46-50,324,28,SA,104,...,0,0,0,6600.0,0.0,0.0,799813.00,0.0,1,0
2,0,40,M,18216.88,SELF-EMP,36-40,603,2,SA,61,...,0,0,1,11200.0,561120.0,24660.0,997570.00,0.0,1,1
3,0,53,M,71720.48,SAL,>50,196,13,CA,107,...,0,0,0,13050.0,168397.5,15195.0,247168.67,71388.0,1,0
4,0,36,M,1671622.89,PROF,36-40,167,24,SA,185,...,0,0,0,0.0,808480.0,0.0,0.00,0.0,1,0

In [25]:
bank2=pd.get_dummies(bank1,drop_first=True)

In [26]:
bank2.head()

,TARGET,AGE,BALANCE,SCR,HOLDING_PERIOD,LEN_OF_RLTN_IN_MNTH,NO_OF_L_CR_TXNS,NO_OF_L_DR_TXNS,TOT_NO_OF_L_TXNS,NO_OF_BR_CSH_WDL_DR_TXNS,...,OCCUPATION_SAL,OCCUPATION_SELF-EMP,OCCUPATION_SENP,AGE_BKT_31-35,AGE_BKT_36-40,AGE_BKT_41-45,AGE_BKT_46-50,AGE_BKT_<25,AGE_BKT_>50,ACC_TYPE_SA
0,0,27,3383.75,776,30,146,7,3,10,0,...,0,1,0,0,0,0,0,0,0,1
1,0,47,287489.04,324,28,104,8,2,10,0,...,1,0,0,0,0,0,1,0,0,1
2,0,40,18216.88,603,2,61,10,5,15,1,...,0,1,0,0,1,0,0,0,0,1
3,0,53,71720.48,196,13,107,36,14,50,4,...,1,0,0,0,0,0,0,0,1,0
4,0,36,1671622.89,167,24,185,20,1,21,1,...,0,0,0,0,1,0,0,0,0,1

In [27]:
bank2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 45 columns):
TARGET                      20000 non-null int64
AGE                         20000 non-null int64
BALANCE                     20000 non-null float64
SCR                         20000 non-null int64
HOLDING_PERIOD              20000 non-null int64
LEN_OF_RLTN_IN_MNTH         20000 non-null int64
NO_OF_L_CR_TXNS             20000 non-null int64
NO_OF_L_DR_TXNS             20000 non-null int64
TOT_NO_OF_L_TXNS            20000 non-null int64
NO_OF_BR_CSH_WDL_DR_TXNS    20000 non-null int64
NO_OF_ATM_DR_TXNS           20000 non-null int64
NO_OF_NET_DR_TXNS           20000 non-null int64
NO_OF_MOB_DR_TXNS           20000 non-null int64
NO_OF_CHQ_DR_TXNS           20000 non-null int64
FLG_HAS_CC                  20000 non-null int64
AMT_ATM_DR                  20000 non-null int64
AMT_BR_CSH_WDL_DR           20000 non-null int64
AMT_CHQ_DR                  20000 non-null int64
AMT_NET_DR                  20000 non-null float64
AMT_MOB_DR                  20000 non-null int64
AMT_L_DR                    20000 non-null float64
FLG_HAS_ANY_CHGS            20000 non-null int64
AMT_OTH_BK_ATM_USG_CHGS     20000 non-null int64
AMT_MIN_BAL_NMC_CHGS        20000 non-null int64
NO_OF_IW_CHQ_BNC_TXNS       20000 non-null int64
NO_OF_OW_CHQ_BNC_TXNS       20000 non-null int64
AVG_AMT_PER_ATM_TXN         20000 non-null float64
AVG_AMT_PER_CSH_WDL_TXN     20000 non-null float64
AVG_AMT_PER_CHQ_TXN         20000 non-null float64
AVG_AMT_PER_NET_TXN         20000 non-null float64
AVG_AMT_PER_MOB_TXN         20000 non-null float64
FLG_HAS_NOMINEE             20000 non-null int64
FLG_HAS_OLD_LOAN            20000 non-null int64
GENDER_M                    20000 non-null uint8
GENDER_O                    20000 non-null uint8
OCCUPATION_SAL              20000 non-null uint8
OCCUPATION_SELF-EMP         20000 non-null uint8
OCCUPATION_SENP             20000 non-null uint8
AGE_BKT_31-35               20000 non-null uint8
AGE_BKT_36-40               20000 non-null uint8
AGE_BKT_41-45               20000 non-null uint8
AGE_BKT_46-50               20000 non-null uint8
AGE_BKT_<25                 20000 non-null uint8
AGE_BKT_>50                 20000 non-null uint8
ACC_TYPE_SA                 20000 non-null uint8
dtypes: float64(8), int64(25), uint8(12)
memory usage: 5.3 MB

In [40]:
bank2.iloc[:,33:].astype('category')
bank2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 45 columns):
TARGET                      20000 non-null int64
AGE                         20000 non-null int64
BALANCE                     20000 non-null float64
SCR                         20000 non-null int64
HOLDING_PERIOD              20000 non-null int64
LEN_OF_RLTN_IN_MNTH         20000 non-null int64
NO_OF_L_CR_TXNS             20000 non-null int64
NO_OF_L_DR_TXNS             20000 non-null int64
TOT_NO_OF_L_TXNS            20000 non-null int64
NO_OF_BR_CSH_WDL_DR_TXNS    20000 non-null int64
NO_OF_ATM_DR_TXNS           20000 non-null int64
NO_OF_NET_DR_TXNS           20000 non-null int64
NO_OF_MOB_DR_TXNS           20000 non-null int64
NO_OF_CHQ_DR_TXNS           20000 non-null int64
FLG_HAS_CC                  20000 non-null int64
AMT_ATM_DR                  20000 non-null int64
AMT_BR_CSH_WDL_DR           20000 non-null int64
AMT_CHQ_DR                  20000 non-null int64
AMT_NET_DR                  20000 non-null float64
AMT_MOB_DR                  20000 non-null int64
AMT_L_DR                    20000 non-null float64
FLG_HAS_ANY_CHGS            20000 non-null int64
AMT_OTH_BK_ATM_USG_CHGS     20000 non-null int64
AMT_MIN_BAL_NMC_CHGS        20000 non-null int64
NO_OF_IW_CHQ_BNC_TXNS       20000 non-null int64
NO_OF_OW_CHQ_BNC_TXNS       20000 non-null int64
AVG_AMT_PER_ATM_TXN         20000 non-null float64
AVG_AMT_PER_CSH_WDL_TXN     20000 non-null float64
AVG_AMT_PER_CHQ_TXN         20000 non-null float64
AVG_AMT_PER_NET_TXN         20000 non-null float64
AVG_AMT_PER_MOB_TXN         20000 non-null float64
FLG_HAS_NOMINEE             20000 non-null int64
FLG_HAS_OLD_LOAN            20000 non-null int64
GENDER_M                    20000 non-null uint8
GENDER_O                    20000 non-null uint8
OCCUPATION_SAL              20000 non-null uint8
OCCUPATION_SELF-EMP         20000 non-null uint8
OCCUPATION_SENP             20000 non-null uint8
AGE_BKT_31-35               20000 non-null uint8
AGE_BKT_36-40               20000 non-null uint8
AGE_BKT_41-45               20000 non-null uint8
AGE_BKT_46-50               20000 non-null uint8
AGE_BKT_<25                 20000 non-null uint8
AGE_BKT_>50                 20000 non-null uint8
ACC_TYPE_SA                 20000 non-null uint8
dtypes: float64(8), int64(25), uint8(12)
memory usage: 5.3 MB